<a href="https://colab.research.google.com/github/Sawaludinn/ALGORITMA-pyten/blob/main/pemrograman_p2_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [20]:
#soal 1
# Meminta input dari pengguna
angka = int(input("Masukkan sebuah bilangan: "))

# Memeriksa apakah angka habis dibagi 3
if angka % 3 == 0:
    print(f"Bilangan {angka} habis dibagi 3.")
else:
    print(f"Bilangan {angka} tidak habis dibagi 3.")

Masukkan sebuah bilangan: 7
Bilangan 7 tidak habis dibagi 3.

In [18]:
#soal 2
nama = input("Masukkan nama Anda: ")
jenis_kelamin = input("Masukkan jenis kelamin Anda (pria/wanita): ").strip().lower()

if jenis_kelamin in ['pria', 'laki-laki', 'p']:
    print(f"Halo bro {nama}")
elif  jenis_kelamin in ['wanita', 'perempuan', 'w']:
    print(f"Halo sis {nama}")
else:
     print(f"hallo {nama}")

Masukkan nama Anda: sawal
Masukkan jenis kelamin Anda (pria/wanita): pria
Halo bro sawal

In [19]:
#soal 3
# Meminta input usia dari pengguna
usia = int(input("Masukkan usia Anda: "))

# Menentukan kategori berdasarkan usia
if usia < 13:
    print("Anda termasuk anak-anak.")
elif usia < 18:
    print("Anda termasuk remaja.")
elif usia < 60:
    print("Anda termasuk dewasa.")
else:
    print("Anda termasuk lansia.")

Masukkan usia Anda: 20
Anda termasuk dewasa.

In [38]:
# meminta jumlah jenis barang yang di beli
jumlah_barang = int(input("masukan jumlah jenis barang yang dibeli: "))

total_belanja = 0 # inisialisasi total belanja

# perulangan untuk setiap jenis barang
for i in Range(1, jumlah_barang + 1 ) :
    print(f"\nbarang ke-{i}:")
    harga = float(input(" masukan harga satuan: "))
    jumlah = int(input(" masukan jumlah unit: "))
    total_harga = harga * jumlah
    print(f"total harga untuk barang ke-{1}: {total_harga}")
    total_belanja += total_harga # menambahkan ke total belanja

#  menampilkan total belanja keseluruhan
print(f"\nTotal belanja keseluruhan: {total_belanja}")

masukan jumlah jenis barang yang dibeli: 0

NameError: name 'Range' is not defined

In [21]:

# Meminta jumlah jenis barang yang dibeli
jumlah_barang = int(input("Masukkan jumlah jenis barang yang dibeli: "))

total_belanja = 0  # Inisialisasi total belanja

# Perulangan untuk setiap jenis barang
for i in range(1, jumlah_barang + 1):
    print(f"\nBarang ke-{i}:")
    harga = float(input("Masukkan harga satuan: "))
    jumlah = int(input("Masukkan jumlah unit: "))
    total_harga = harga * jumlah
    print(f"Total harga untuk barang ke-{i}: {total_harga}")
    total_belanja += total_harga  # Menambahkan ke total belanja

# Menampilkan total belanja keseluruhan
print(f"\nTotal belanja keseluruhan: {total_belanja}")

Masukkan jumlah jenis barang yang dibeli: 6

Barang ke-1:
Masukkan harga satuan: 200
Masukkan jumlah unit: 1
Total harga untuk barang ke-1: 200.0

Barang ke-2:
Masukkan harga satuan: 30
Masukkan jumlah unit: 5
Total harga untuk barang ke-2: 150.0

Barang ke-3:
Masukkan harga satuan: 20
Masukkan jumlah unit: 1
Total harga untuk barang ke-3: 20.0

Barang ke-4:
Masukkan harga satuan: 40
Masukkan jumlah unit: 1
Total harga untuk barang ke-4: 40.0

Barang ke-5:
Masukkan harga satuan: 90
Masukkan jumlah unit: 1
Total harga untuk barang ke-5: 90.0

Barang ke-6:
Masukkan harga satuan: 75
Masukkan jumlah unit: 1
Total harga untuk barang ke-6: 75.0

Total belanja keseluruhan: 575.0