<a href="https://colab.research.google.com/github/Sawaludinn/ALGORITMA-pyten/blob/main/Selamat_Datang_di_Colaboratory.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [25]:

arr = [10, 20, 30, 40]
list_numbers

[1, 2, 3, 4, 5]

In [24]:
list_numbers = [1, 2, 3, 4, 5]
list_numbers

[1, 2, 3, 4, 5]

In [22]:
list_numbers[0] = 100  # Mengubah elemen pertama menjadi 100
list_numbers[0]

100

In [26]:
arr = [1, 2, 3, 4, 5]
arr

[1, 2, 3, 4, 5]

In [27]:

data = [1, 2, 3, 'hello', 5.5]  # array dengan elemen tipe berbeda
arr

[1, 2, 3, 4, 5]

In [28]:

arr = [0] * 5  # Membuat array dengan 5 elemen, semua berisi 0
arr

[0, 0, 0, 0, 0]

In [29]:

arr = [10, 20, 30, 40]
print(arr[0])  # Output: 10 (indeks pertama)
print(arr[3])  # Output: 40 (indeks terakhir)
arr

10
40

[10, 20, 30, 40]

In [30]:
arr = [10, 20, 30, 40, 50]
for elemen in arr:
    print(elemen)
arr

10
20
30
40
50

[10, 20, 30, 40, 50]

In [31]:
total = 0
for elemen in arr:
    total += elemen
print(total)  # Output: 150
arr

150

[10, 20, 30, 40, 50]

In [14]:
arr = [30,45,10,20,12,7,19,13,17,2,10,27,5,29]

nilai_maks = max(arr)
print("jadi nilai_maksimal dari arr adalah :",nilai_maks)

jadi nilai_maksimal dari arr adalah : 45

In [15]:
nilai_min = min(arr)
print("jadi nilai minimum dari arr adalah :",nilai_min)

jadi nilai minimum dari arr adalah : 2

In [16]:
penjumlahan = sum(arr)
print(" jadi penjumlahan dari arr adalah :",penjumlahan)

 jadi penjumlahan dari arr adalah : 246

In [17]:
jumlah_arr = len(arr)
print("jadi jumlah dari arr adalah :",jumlah_arr)

jadi jumlah dari arr adalah : 14

In [18]:
rata_rata = sum(arr)/len(arr)
print("jadi nilai rata_rata yang benar dari nilai arr adalah :",rata_rata)

jadi nilai rata_rata yang benar dari nilai arr adalah : 17.571428571428573

In [33]:
# Soal 2 dengan bu Sevinurafni
T1 = [9, 12, 30, -1, 0, 4, -1, 3, 30, 14]
nilai_terbesarT1 = max(T1)
print ( nilai_terbesarT1)

nilai_terkecilT1 = min(T1)
print (nilai_terkecilT1)

T2 = [1, 3, 5, 8, -12, 90, 3, 5]
nilai_terbesarT2 = max(T2)
print ( nilai_terbesarT2)

nilai_terkecilT2 = min(T2)
print ( nilai_terkecilT2)

30
-1
90
-12